@font-face {
    font-family: Sahel;
    src: url('../fonts/Sahel.eot');
    src: url('../fonts/Sahel.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Sahel.woff2') format('woff2'),
            url('../fonts/Sahel.woff') format('woff'),
            url('../fonts/Sahel.ttf') format('truetype');
}

body {
    font-family: "Sahel";
    background-color: rgb(239 255 247);
}

.btn-outline-blue-orange {
    --bs-btn-color: rgb(0, 0, 0);
    --bs-btn-border-color: rgb(249, 97, 0);
    --bs-btn-hover-color: rgb(255, 255, 255);
    --bs-btn-hover-bg: rgb(0, 130, 253);
    --bs-btn-hover-border-color:  rgb(249, 97, 0);
    --bs-btn-focus-shadow-rgb: 117, 188, 255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(249, 97, 0);
    --bs-btn-active-border-color: rgb(0, 130, 253);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #eef6d5;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #d5f1f6;
    --bs-gradient: none;
}

.bg-sky-blue {
    background-color: rgb(205 242 224);
}

.text-blue {
    color: rgb(0, 130, 253);
}
.text-orange {
    color: rgb(249, 97, 0);
}
.text-sky-blue {
    color: rgb(113 157 255);
}
.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #f2601e;
    box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
}

.footer-link {
    color: #1385fd;
    text-decoration: none;
    text-decoration-line: none;
    font-style: inherit;
}

.opacity-85 {
    opacity: 85%;
}
.property-p {
    font-size: 15px;
}
.row-fixed-height [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
  
.row-fixed-height {
    overflow: hidden; 
}

@media (min-width: 768px){
    .btn-add-cart {
        position: absolute !important;
        bottom: 5% !important;
        width: 89% !important;
    }
}
.fa-text-justify {
    direction: rtl;
    text-align: justify;
}

.grad1 {
    background-color: red;
    background-image: linear-gradient(to bottom right, #e44c56, #eb42d6);
}
.grad2 {
    background-color: red;
    background-image: linear-gradient(to bottom right, #fcf162, #ff590a);
}
.grad3 {
    background-color: red;
    background-image: linear-gradient(to bottom right, #67de4d, #eaec4d);
}
.grad4 {
    background-color: red;
    background-image: linear-gradient(to bottom right, #4c9cde, #47efc0);
}

.vcenter {
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
}
@media (min-width: 768px){
    .vcenter {
        left: 35%;
        right: 35%;
    }
}
